.container{    
    padding-top: 2em;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.bigNumber{
    font-size: 5em;
}

.smallNumber{
    font-size: 1em;
    align-self: flex-end;
}

@media only screen and (max-width: 800px){
    .container{
        padding: 1em;
    }
}